header{
    display:inline-flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:rgb(167, 212, 226);
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
   }
nav{
    text-align: right;
    width: inherit;
}
nav a{
    color: rgb(32, 32, 32);
    font: roboto;
    padding-right: 5%;
}
.img-lupa{
    width: 30px;
    height: 30px;
    padding-left: 5%;
}
div{
    text-align: center;
}
h1{
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(82, 82, 82);
}
.img-work{
    width: 600px;
    height: 400px;
}

div a{
    padding-top: 5%;
}
#formulario{
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset
{
  width:300px;
  height:250px;
}